/* Category Button Styling */
.effortless:hover {
  background-color: rgba(128, 140, 255, 0.2);
}
.effortless.active {
  background-color: rgba(128, 140, 255, 1);
}

.trivial:hover {
  background-color: rgba(126, 255, 213, 0.2);
}
.trivial.active {
  background-color: rgba(126, 255, 213, 1);
}

.easy:hover {
  background-color: rgba(138, 255, 126, 0.2);
}
.easy.active {
  background-color: rgba(138, 255, 126, 1);
}

.medium:hover {
  background-color: rgba(247, 255, 126, 0.2);
}
.medium.active {
  background-color: rgba(247, 255, 126, 1);
}

.hard:hover {
  background-color: rgba(255, 191, 126, 0.2);
}
.hard.active {
  background-color: rgba(255, 191, 126, 1);
}

.challenging:hover {
  background-color: rgba(255, 126, 126, 0.2);
}
.challenging.active {
  background-color: rgba(255, 126, 126, 1);
}

.brutal:hover{
  background-color: rgba(255, 124, 183, 0.2);
}
.brutal.active {
  background-color: rgba(255, 124, 183, 1);
}

.extreme:hover {
  background-color: rgba(152, 72, 100, 0.2);
}
.extreme.active {
  background-color: rgba(152, 72, 100, 1);
}

.insane:hover{
  background-color: rgba(130, 130, 130, 0.2);
}
.insane.active {
  background-color: rgba(130, 130, 130, 1);
}

.mythical {
  position: relative;
  z-index: 1;
}

.mythical:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(138,188,249,1) 0%,
    rgba(162,252,216,1) 50%,
    rgba(199,123,247,1) 100%
  );
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0.5vw;
}

.mythical:hover:after {
  opacity: 0.2;
}

.mythical.active:after {
  opacity: 1;
}