.search-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5vw;
}

#search-bar {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

input[type="text"] {
  text-align: center;
  color: white;
  border-radius: 1.15vw;
  border: 0.2vw solid #fff;
  padding: 0.5vw;
  width: 13.4vw;
  transition: all 0.3s ease 0s;
  outline: none;
  margin-right: 0.35vw;
  background-color: rgba(255, 255, 255, 0.1);
}

input[type="text"]:hover {
    background-color: rgba(255, 255, 255, 0.13);
    cursor: text;
}
input[type="text"]:focus {
  box-shadow: rgba(70, 72, 95, 0.3) 0 0.625vw 1.25vw;
  background-color: rgba(255, 255, 255, 0.175);
  width: 15.4vw;
}