/* Text */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body, button, #levelSearch {
  font-family: 'Abel', sans-serif;
}
* {
  font-size: 1vw;
  padding-top: 0.5%;
}
p {
  padding-top: .5%; 
  text-align: center; 
  color: white; 
  margin: 0 auto; 
  max-width: 80vw;
}
h1 {
  font-size: 1.5vw;
  padding-top: .5%; 
  font-size: 2vw; 
  text-align: center; 
  color: white;
}
h2 {
  font-size: 1.2vw;
}
.warning {
  animation: color-change 3s infinite;
}
@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: white;
  }
  100% {
    color: red;
  }
}

/* Background */
body {
  background-image: url('../../Images/UI/BG.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Logo */
.logo {
  width: 40%;
  display: block;
  margin: 0 auto;
  margin-top: 4vw;
  animation: move 2s ease-in-out infinite alternate;
}
@keyframes move {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

/* Header */
.header {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 3vw;
  padding: 0.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Buttons */
.button-container, .tabcontent {
  padding-top: 0;
  margin: auto;
  text-align: center;
}
.button {
  background-color: transparent;
  border: none;
  color: white;
  width: 8vw;
  height: 3vw;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
  margin-right: 0.5vw;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}
.button:hover {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
  transform: scale(1.05);
  cursor: pointer;
}
.button.active {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1), 0px 0px 8px rgba(0, 0, 0, 1), 0px 0px 16px rgba(0, 0, 0, 0.5);
  /*box-shadow: 0px 0px 0px 2px black, 0px 0px 0px 4px white;
  border-radius: 0.1vw;*/
  transition: transform 0.2s ease, text-shadow 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}
.header-button {
  background-color: rgba(255, 255, 255, 0.1);
}
.header-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.header-button:active {
  background-color: rgba(255, 255, 255, 0.5);
}
.current {
  background-color: rgba(255, 255, 255, 0.5);
}
.current:hover {
  cursor: auto;
  transform: scale(1);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
}
.current.active {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
  transition: transform 0.2s ease, text-shadow 0.2s ease, background-color 0.2s ease;
  background-color: rgba(255, 255, 255, 0.5);
}
.discord:active {
  background: rgba(138, 156, 254, 1);
  transition: background-color 0.2s ease;
}
.discord:hover {
  background: rgba(138, 156, 254, 0.2);
  transition: background-color 0.2s ease;
}
.twhgedit:active {
  background: rgba(255, 0, 0, 1);
  transition: background-color 0.2s ease;
}
.twhgedit:hover {
  background: rgba(255, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}
.header-left {
  position: absolute;
  right: 95.5vw;
  opacity: 0.25;
}
.header-right {
  position: absolute;
  left: 95.5vw;
  opacity: 0.25;
}
.square {
  width: 3vw;
}
.button img.icon {
  vertical-align: middle;
  width: 2vw;
  height: 2vw;
}

/* Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.5vw;
  height: 1.5vw;
  margin: auto;
  margin-top: 0.5vw;
  text-align: center;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 15vw;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.5vw;
  width: 1.5vw;
  left: 0.25vw;
  bottom: 0.25vw;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  transform: translateX(1.5vw);
}

/* Text Input */
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5vw;
}
#search-bar {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
input[type="text"] {
  text-align: center;
  color: white;
  border-radius: 1.15vw;
  border: 0.2vw solid #fff;
  padding: 0.5vw;
  width: 13.4vw;
  transition: all 0.3s ease 0s;
  outline: none;
  margin-right: 0.35vw;
  background-color: rgba(255, 255, 255, 0.1);
}
input[type="text"]:hover {
    background-color: rgba(255, 255, 255, 0.13);
    cursor: text;
}
input[type="text"]:focus {
  box-shadow: rgba(70, 72, 95, 0.3) 0 0.625vw 1.25vw;
  background-color: rgba(255, 255, 255, 0.175);
  width: 15.4vw;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #252525;
}
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
  outline: 2px solid black;
}
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}
::-webkit-scrollbar-thumb:active {
  background: gray;
}

::-ms-scrollbar {
  width: 20px;
}
::-ms-scrollbar-track {
  background: #252525;
}
::-ms-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
  outline: 2px solid black;
}
::-ms-scrollbar-thumb:hover {
  background: lightgray;
}
::-ms-scrollbar-thumb:active {
  background: lightgray;
}

::-moz-scrollbar {
  width: 20px;
}
::-moz-scrollbar-track {
  background: #252525;
}
::-moz-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
  outline: 2px solid black;
}
::-moz-scrollbar-thumb:hover {
  background: lightgray;
}
::-moz-scrollbar-thumb:active {
  background: lightgray;
}

/* Level Images */
.levelImage {
  outline: 0.25vw solid white;
  padding: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 1vw;
}
.levelImage:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Credits */
.team-member {
  display: flex;
  align-items: center;
  margin: 0.5vw 0;
  margin-left: 37vw;
}
.pfp {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  margin-right: 1vw;
}
.username {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.handle {
  color: gray;
}
.action {
  color: white;
}