.login-container {
  width: 28vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.login-title {
  font-size: 3vw;
  border-bottom: 0.5vw solid #4caf50;
  margin: 2vw 1vw 5vw 1vw;
  padding: 1.3vw 0;
}

.login-description {
  font-size: 1.2vw;
  margin: 2vw 0;
}

.login-button {
  display: block;
  margin: 0 auto;
  max-width: 20vw;
  text-align: center;
  background-color: #7289da;
  color: white;
  padding: 1vw;
  border-radius: 0.5vw;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #4d63a4;
}