/* Dropdown Container in Map Packs */
.dropdown-container {
  margin: auto;
  text-align: center;
}

.MapPacksDropdown {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
    width: 8vw;
    height: 3vw;
    font-weight: bold;
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.14);
    cursor: pointer;
    font-size: 14px;
}

.MapPacksDropdown:hover,
.MapPacksDropdown:focus {
    text-shadow: 0 0 8px rgba(255,255,255,1);
    transform: scale(1.05);
    cursor: pointer;
}

.MapPacksDropdown:focus {
    outline: none;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0.5em 0;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-top: none;
    z-index: 999;
    list-style: none;
}

.select-options li {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.select-options li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}